
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Index" asp-controller="Home">Home</a> |
<a asp-action="AboutUS" asp-controller="Home" >About Us</a> |
<a asp-action="ContactUs" asp-controller="Home">Contact Us</a>
<h1>Index</h1>
<p>This is main page</p>

<!--
@Html.ActionLink("MainPage","Index","Home") |
@Html.ActionLink("AboutPage","AboutUs","Home") |
@Html.ActionLink("ContactPage","ContactUs","Home") 
-->
